{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}CURD OPR{% endblock %}
    </title>
    {% tailwind_css %}
</head>
<body class="bg-slate-900 text-white">
    <div class="p-4 border-b border-gray-700">
        <div class=""><b>NavBar</b></div>
    </div>
    <div class="p-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
